<footer class="footer" data-scroll-section>
  <%- include('./_footer-gradient.ejs'); %>
  <div class="footer__contents">
    <nav class="footer__gNav">
      <ul class="footer__items">
        <li class="footer__item"><a href="<%= meta.linkPath %>"><span class="footer__item--main">TOP</span></a></li>
        <li class="footer__item"><a href="<%= meta.linkPath %>message.html"><span class="footer__item--main">message</span><span class="footer__item--sub">What’s<span class="u-textUpper">Your</span>Purpose?</span></a></li>
        <li class="footer__item"><a href="<%= meta.linkPath %>members.html"><span class="footer__item--main">members</span><span class="footer__item--sub">それぞれの“Next”</span></a></li>
        <li class="footer__item"><a href="<%= meta.linkPath %>growth.html"><span class="footer__item--main">growth</span><span class="footer__item--sub">エムスリーの成長環境</span></a>
          <ul class="footer__subItems">
            <li class="footer__subItem"><a href="<%= meta.linkPath %>growth/culture.html">カルチャー / 制度・仕組み</a></li>
            <li class="footer__subItem"><a href="<%= meta.linkPath %>growth/figures.html">数字で見る成長環境</a></li>
          </ul>
        </li>
        <li class="footer__item"><a href="<%= meta.linkPath %>mission.html"><span class="footer__item--main">mission</span><span class="footer__item--sub">エムスリーが目指しているもの</span></a></li>
      </ul>
    </nav>
    <div class="footer__text">
      <p class="footer__external"><a href="https://corporate.m3.com/" target="_blank" rel="noopener noreferrer">コーポレートサイト</a></p>
      <p class="footer__copyright" translate="no">Copyright© M3 inc, All Rights Reserved.</p>
    </div>
  </div>
</footer>