<header class="header js-header" data-scroll-sticky>
  <div class="header__inner">
    <h1 class="header__logo"><a href="<%= meta.linkPath %>">
        <picture>
          <source srcset="<%= meta.imgPath %>common/header-logo.svg" media="(min-width: 560px)" width="365" height="46">
          <img src="<%= meta.imgPath %>common/header-logo--sp.svg" alt="エムスリー inc career recruiting" width="398" height="44">
        </picture>
      </a></h1>
    <div class="header__btns">
      <a class="header__entry" href="https://m3.recruitment.jp/business2/job/entry" target="_blank" rel="noopener noreferrer" aria-label="エントリーサイトを開く">
        <picture>
          <source srcset="<%= meta.imgPath %>common/header-entry-btn.svg" media="(min-width: 560px)" width="160" height="38">
          <img src="<%= meta.imgPath %>common/header-entry-btn--sp.svg" alt="" width="140" height="60">
        </picture>
      </a>
      <button id="js-openDrawer" class="header__hamburger js-openDrawer" type="button" aria-label="メニューを開く" aria-controls="js-drawer" aria-expanded="false">
        <picture>
          <source srcset="<%= meta.imgPath %>common/drawer-open-btn.svg" media="(min-width: 560px)" width="70" height="18">
          <img src="<%= meta.imgPath %>common/drawer-open-btn--sp.svg" alt="" width="80" height="23">
        </picture>
        <!-- <span class="sr-only">メニューを開く</span> -->
      </button>
    </div>
  </div>
</header>