<% var worksList = [
  {
    index:1,
    bgColor:'#0602C9',
    title:'エムスリー株式会社<br>新規採用サイト',
    tech:['Locomotive Scroll','Tag Sort']
  },
  {
    index:2,
    bgColor:'#EFAD60',
    title:'エムスリー株式会社<br>中途採用サイト',
    tech:['Chart.js']
  },
  {
    index:3,
    bgColor:'#BB355E',
    title:'株式会社マルニシ<br>新卒採用サイト',
    tech:['Barba.js']
  },
  {
    index:4,
    bgColor:'#64d3b9',
    title:'富田美憂<br>ファンクラブサイト',
    tech:['Calendar API','Swiper']
  },
  {
    index:5,
    bgColor:'#791E87',
    title:'長野県 松本市<br class="is-pc">イルミネーション特設サイト',
    tech:['Instagram API']
  },

] %>
<main class="l-main p-works-main">
  <div class="l-main__inner p-works-main__inner">
    <h1 class="c-splitTitle l-main__title p-works-main__title"><span class="c-splitTitle__inner js-splitTitle">Works</span></h1>
    <div class="p-works-slider js-slider">
      <div class="swiper">
        <div class="swiper-wrapper">
          <% for (var works of worksList) { %>
          <div class="p-works-slide swiper-slide" data-slide-bg-color="<%= works.bgColor %>">
            <article class="p-works-slide__article">
              <div class="p-works-slide__imgContainer">
                <img class="p-works-slide__img" src="./assets/images/works-slide0<%= works.index %>.webp" alt="" width="1200" height="630" loading="lazy" decoding="async">
              </div>
              <div class="p-works-slide__inner">
                <h2 class="p-works-slide__title"><%- works.title %></h2>
                <dl class="p-works-slide__desc">
                  <dt class="p-works-slide__descLead">Technologies...</dt>
                  <div class="p-works-slide__descItems">
                    <% var array = works.tech %>
                    <% array.forEach(function (value) { %>
                    <dd class="p-works-slide__descItem"><%= value %></dd>
                    <% }); %>
                  </div>
                </dl>
                <a class="c-readmore p-works-slide__readmore" href="./work0<%= works.index %>.html">Read more</a>
              </div>
            </article>
          </div>
          <% } %>
        </div>
        <div class="p-works-slider__button p-works-slider__button--prev"><span class="p-works-slider__buttonArrow">
            <circle cx="42" cy="42" r="40"></circle>
          </span></div>
        <div class="p-works-slider__button p-works-slider__button--next"><span class="p-works-slider__buttonArrow"></span></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</main>